{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<!-- Breadcrumb -->
<div class="col-sm-12" id="breadcrumb">
	<a href="{{ path('home') }}"><span>Home</span></a>
	>
	<a href="{{ path('users') }}"><span>User</span></a>
	>
	<a href="{{ path('profile', {id: app.user.id}) }}"><span>You</span></a>
	>
	<span class="current-page">Changer le mot de passe</span>
</div>
<!-- END Breadcrumb -->

<div class="col-md-12">
	<h1 class="page-name">Changer vote mot de passe</h1>
</div>
<br/>
<div class="col-md-12" id="password-form">
    {% if form is defined %}
        {{ form_start(form) }}
            {{ form_row(form.currentPassword) }}

            <br/>

            {{ form_label(form.newPassword) }}
            <br/>
            {{ form_row(form.newPassword) }}
            <p><small>You password must contain at least 8 characters with at least 1 number </small><i>( Example : itsolution9 )</i></p>
            {{ form_errors(form.newPassword) }}
            <br/>
        {{ form_end(form) }}
    {% else %}
        <div class="text-left">
            <span class="success">votre mot de passe a été changé</span>
            <p>Vous devrez utiliser votre nouveau mot de passe lors de votre prochaine authentification.</p>
            <br/>
            <a href="{{ path('profile', {id: app.user.id}) }}" class="btn">Revenez à votre profil</a>
        </div>
    {% endif %}
</div>
<script>

</script>
    
{% endblock %}