{% extends 'base.html.twig' %}

{% block title %}IT Solutions -Changer  photo de profile{% endblock %}

{% block body %}
<!-- Breadcrumb -->
<div class="col-sm-12" id="breadcrumb">
	<a href="{{ path('home') }}"><span>Home</span></a>
	>
	<a href="{{ path('users') }}"><span>Users</span></a>
	>
	<a href="{{ path('profile', {id: app.user.id}) }}"><span>You</span></a>
	>
	<span class="current-page">Change Image</span>
</div>
<!-- END Breadcrumb -->

<div class="col-md-12">
	<h1 class="page-name">Change your avatar</h1>
</div>
<br/>
<div class="col-md-12" id="avatar-form">
	{{ form_start(form) }}
		<p id="file-size"></p>
	{{ form_end(form) }}
</div>
<script>
    $('#avatar_file').change(function(){
		if(this.files[0].size > 1050000) {
			alert("Image too large (max 1.5 Mo)");
			$('#file-size').addClass('failed');
			$('#file-size').removeClass('success');
			$('#file-size').text('⚠️ ' + (this.files[0].size/(1024*1024)).toFixed(2) + ' / 1.5 Mo');
			$(this).val('');
		}
		else {
			$('#file-size').removeClass('failed');
			$('#file-size').addClass('success');
			$('#file-size').text((this.files[0].size/(1024*1024)).toFixed(2) + ' / 1.5 Mo');
		}
	});
</script>
    
{% endblock %}