{% extends 'base.html.twig' %}

{% block title %}Modifier les détails du votre profil{% endblock %}

{% block body %}
<!-- Breadcrumb -->
<div class="col-sm-12" id="breadcrumb">
	<a href="{{ path('home') }}"><span>Home</span></a>
	>
	<a href="{{ path('users') }}"><span>Users</span></a>
	>
	<a href="{{ path('profile', {id: app.user.id}) }}"><span>You</span></a>
	>
	<span class="current-page">Modifier les détails du profil</span>
</div>
<!-- END Breadcrumb -->

<div class="col-md-12">
	<h1 class="page-name">Modifier les détails du profil</h1>
</div>
<br/>
<div class="col-md-12" id="pdetails-form">
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_rest(form) }}
{{ form_end(form) }}
</div>
    
{% endblock %}